@charset "UTF-8";

/*--------------------
VALIAVLES
----------------------*/
:root {
  /* colors */
  --color-brand: rgba(0, 0, 0, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-gray: rgba(170, 170, 170, 1);
  /* spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 48px;
  --spacing-2x: 96px;
  --spacing-3x: 144px;
  /* fonts */
  --font-title-en: 400 1.6rem "Roboto", sans-serif;
  --font-text-en: 400 1.4rem "Roboto", sans-serif;
  --font-title-ja: 500 1.6rem "Noto Sans JP", sans-serif;
  --font-text-ja: 400 1.4rem "Noto Sans JP", sans-serif;
  /* border */
  --border-primary: 1px solid var(--color-black, #000);
  /* animation */
  --default-transition: all 0.5s;
}
@media (max-width: 800px) {
  :root {
    --spacing-xl: 24px;
  }
}
/*----------------------
INITIALIZATION
------------------------*/
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font: var(--font-text-ja);
  letter-spacing: 0.05em;
  line-height: 1.8;
  background-color: var(--color-white, #fff);
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
a {
  cursor: pointer;
}
.wrapper {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  @media (max-width: 800px) {
    padding: 0 24px;
  }
}
.sticky {
  position: sticky;
  top: var(--spacing-xl);
  @media (max-width: 800px) {
    position: static;
  }
}
.section-title {
  font: var(--font-title-en);
  font-size: 2.1rem;
}
.page-title {
  font: var(--font-title-en);
  font-size: 64px;
}
.button {
  font: var(--font-text-en);
  padding: 0.4em 0.7em;
  border: var(--border-primary);
  border-radius: 2em;
}
.sp-button {
  display: none;
  text-align: center;
  margin-top: var(--spacing-lg);
}
.card-list:last-of-type {
  border-bottom: var(--border-primary);
}
.card {
  padding: var(--spacing-xl) 0;
  border-top: var(--border-primary);
}
.card__inner {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  @media (max-width: 450px) {
    flex-direction: column-reverse;
    gap: 24px;
    .card__image {
      width: 100%;
    }
  }
}
.card__title {
  font: var(--font-title-ja);
  margin-bottom: var(--spacing-md);
}

/*---------------------- 
LAYOUT
------------------------*/
.global-layout {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  &._1-column {
    grid-template:
      "header" auto
      "contents" 1fr
      "footer" auto /
      100%;
  }
  &._2-column {
    grid-template:
      "header header header header" auto
      ". . heading ." auto
      ". categories contents ." 1fr
      "footer footer footer footer" auto /
      40px minmax(50px, 200px) minmax(500px, 1000px) 40px;
    @media (max-width: 800px) {
      grid-template:
        "header header header" auto
        ". heading ." auto
        ". categories ." auto
        ". contents ." 1fr
        "footer footer footer" auto /
        24px 1fr 24px;
    }
  }
}
.global-layout__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  grid-area: header;
}
.global-layout__heading {
  padding: 120px 48px 0;
  grid-area: heading;
  @media (max-width: 800px) {
    padding: 48px 0 0;
  }
}
.global-layout__categories {
  padding: 48px;
  grid-area: categories;
  @media (max-width: 800px) {
    padding: 24px 0 0;
  }
}
.global-layout__contents {
  position: relative;
  padding: 120px 40px;
  grid-area: contents;
  @media (max-width: 800px) {
    padding: 48px 24px 120px;
  }
}
.global-layout__contents._works {
  padding: 48px 0 120px 48px;
  @media (max-width: 800px) {
    padding: 24px 0 120px;
  }
}
.global-layout__footer {
  grid-area: footer;
}

/*----------------------
HEADER
------------------------*/
.header {
  font: var(--font-text-en);
  background-color: var(--color-white, #fff);
  border-bottom: var(--border-primary);
  z-index: 10;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  a {
    display: block;
    height: 100%;
  }
}
.header__navigation {
  display: flex;
  column-gap: var(--spacing-xl);
}
.hamburger-button {
  display: none;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: relative;
  transition: var(--default-transition);
  z-index: 20;
}

/* --------------------------
HAMBURGER
--------------------------- */
.hamburger-button span {
  display: block;
  position: absolute;
  width: 20px;
  height: 1%;
  background-color: var(--color-black, #000);
  transition: var(--default-transition);
  &:nth-child(1) {
    top: 3px;
  }
  &:nth-child(2) {
    bottom: 3px;
  }
}
.hamburger-button.open span {
  &:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
  }
  &:nth-child(2) {
    transform: translateY(-4px) rotate(45deg);
  }
}
.navigation {
  display: flex;
  transition: var(--default-transition);
  white-space: nowrap;
}
.navigation._hamburger {
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  padding: var(--spacing-xl);
  background-color: var(--color-white);
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  &.open {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
}
.navigation__logo {
  flex-grow: 1;
  line-height: 1.4;
  padding: 48px 0;
}
.navigation__body {
  display: flex;
  width: 50%;
  padding: var(--spacing-2x) 0;
  gap: 48px;
  &._hamburger {
    flex-direction: column;
  }
}
.navigation__unit ul {
  display: flex;
  flex-direction: column;
  margin-top: 2.1rem;
  gap: 0.7rem;
}
.mask {
  display: none;
  transition: var(--default-transition);
  &.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
  }
}

/* -----------------------------
WORKS
------------------------------ */
.copy {
  text-align: center;
  margin-bottom: var(--spacing-xl);
}
.copy__main {
  display: flex;
  justify-content: center;
  font: var(--font-text-en);
  font-size: clamp(3rem, 7.5vw, 9.6rem);
  text-transform: uppercase;
  gap: 2vw;
  margin-bottom: var(--spacing-lg);
}
.copy__left {
  letter-spacing: 0.09em;
}
.copy__right {
  letter-spacing: 0.03em;
}
.vertical-group {
  display: flex;
  align-items: center;
  margin-left: -8px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  gap: var(--spacing-md);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: clamp(var(--spacing-lg), 2vw, var(--spacing-xl));
}

/* ----------------------------
ABOUT
----------------------------- */
.about {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  padding: clamp(var(--spacing-3x), 20vw, 320px) 48px;
  margin: 0 auto;
  gap: var(--spacing-xl);
}
.about__image {
  width: 24%;
}
.about__body {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: var(--spacing-sm);
  hr {
    border-bottom: var(--border-primary);
  }
}
.about__button {
  text-align: right;
}

/* ----------------------------
SERVICE
------------------------------ */
.service {
  display: flex;
  justify-content: space-between;
}
.service__sidebar {
  position: relative;
  width: 20%;
}
.service__heading {
  text-align: center;
  .section-title {
    margin-bottom: var(--spacing-md);
  }
}
.card-list._service {
  width: 70%;
}

/* ----------------------------
FOOTER
----------------------------- */
.footer {
  border-top: var(--border-primary);
}
.copyright {
  display: flex;
  justify-content: right;
  padding: var(--spacing-sm) 0;
  border-top: var(--border-primary);
  p {
    width: 50%;
    font-size: 1rem;
  }
}
/*----------------------
WORKS PAGE
------------------------*/
.categories__title {
  font: var(--font-title-en);
  margin-bottom: 24px;
}
.categories__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* --------------------------------
MEDIA
------------------------------------ */

@media (max-width: 800px) {
  .header__navigation {
    display: none;
  }
  .hamburger-button {
    display: block;
  }
  .navigation__body {
    flex-direction: column;
  }
  .vertical-group {
    transform: rotate(0);
    margin-bottom: var(--spacing-lg);
    .button {
      display: none;
    }
  }
  .sp-button {
    display: block;
  }
  .about {
    flex-direction: column;
    width: 100%;
  }
  .about__image {
    text-align: right;
    flex-grow: 0;
    width: 100%;
    margin-bottom: -50px;
    gap: 0;
    img {
      width: 70%;
    }
  }
  .about__body {
    width: 100%;
  }
  .service {
    flex-direction: column;
  }
  .service__heading {
    text-align: left;
    .button {
      display: none;
    }
  }
  .card-list._service {
    width: 100%;
  }
  .categories__title {
    margin-bottom: 16px;
  }
  .categories__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 450px) {
  .about {
    padding-right: 0;
    padding-left: 0;
  }
  .about__image {
    image {
      width: 50%;
    }
  }
}
